#education {
  background: #121212;
  padding: 8rem 5rem;
}

#education h2 {
  font-size: 2.5rem;
  margin-left: 5.5rem;
}

#education-div {
  display: flex;
  justify-content: center;
  gap: 7rem;
  margin-top: 3rem;
}

#education-left {
  width: 15rem;
  height: 100%;
  border-left: 3px solid #0099f888;
}

#education-left ul {
  list-style: none;
}

#education-left li {
  padding: 0.9rem 0;
  padding-left: 10px;
  width: 100%;
  cursor: pointer;
}

#education-left li:hover {
  background: #2c2c2c;
  transition: 0.6s;
}

.education-click {
  background: #2c2c2c;
}

#education-right {
  width: 43rem;
  height: 20rem;
}

#education-right h3 {
  font-size: 1.5rem;
}

#education-right h4 {
  color: #0099f8;
  margin: 2rem 0;
}

.collage-none {
  display: none;
}

.collage-active {
  display: block;
}

.text-focus-in {
  -webkit-animation: text-focus-in 0.5s linear;
  animation: text-focus-in 0.5s linear;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@media (max-width: 879px) {
  #education {
    padding: 5rem 1.5rem;
    text-align: center;
  }

  #education h2 {
    margin: auto;
  }

  #education-div {
    display: block;
  }
  #education-left {
    margin: auto;
    border-left: none;
    margin-bottom: 4rem;
  }
  .education-click {
    border-bottom: 1px solid #0099f8;
    background: #2c2c2c;
  }

  #education-right {
    width: auto;
    margin-top: 3rem;
  }
}