.projects {
  background: #121212;
  padding: 8rem 5rem 8rem 5rem;
}

.projects h1 {
  font-size: 2.5rem;
  margin-left: 5.5rem;
  margin-bottom: 2rem;
}

.projects .heading span{
  color:  #2196f3;
}

.projects .box-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects .box-container .box{
  width: 25%;
  margin: 1rem;
  border-radius: 1rem;
}

.container {
  position: relative;
}

.image {
  display: block;
  border-radius: 1rem;
  width: 100%;
  height: auto;
}

.overlay {
  border-radius: 0.9rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #050505;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.projects .box-container .box p{
  text-align: justify;
  padding: 1rem;

}

.projects .box-container .box .half{
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.projects .box-container .box .half .btn{
  width: 50%;
  display: flex;
  justify-content: center;
}

.projects .box-container .box .half .btn a{
  border: 1px solid #2196f3;
  padding: 0.8rem;
  width: 70%;
  text-align: center;
  border-radius: 0.5rem;
  text-decoration: none;
}

.projects .box-container .box .half .btn i{
  font-size: 20px;
}
.projects .box-container .box .half .btn a:hover{
  background-color: #052030;
  box-shadow: 0 0 5px #2196f3, 0 0 25px #2196f3, 0 0 45px #2196f3;
}


@media (max-width: 900px) {
  .projects {
    background: #121212;
    padding: 8rem 1rem  
  }
  .projects .box-container .box{
    width: 45%;
    margin: 1rem;
    border-radius: 1rem;
  }
  .projects h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-left: 0rem;
    margin-bottom: 0rem;
  }

}


@media (max-width: 500px) {
  .projects {
    background: #121212;
    padding: 8rem 1rem  
  }
  .projects .box-container .box{
    width: 100%;
    margin: 1rem;
    border-radius: 1rem;
  }
  .projects h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-left: 0rem;
    margin-bottom: 0rem;
  }

}
