* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP", sans-serif;
    color: #ffffff;
    scroll-behavior: smooth;
}

body {
    background-color: #121212;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 10px;
    background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb {
    background-color: #0099f8;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #037ac4;
}

/*Barra de rolagem - Fim*/

/*Animation Scroll - INICIO*/
[data-anime="section-scroll"] {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
    transition: 0.4s;
}

[data-anime="section-scroll"].animation {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}


